/*-----------------------------------------
Body
-----------------------------------------*/
html, body {
  text-align: center;
}

h1 {
  padding-top: 100px;
}

div {
  margin-bottom: 0;
}

/*-----------------------------------------
Nav
-----------------------------------------*/
#nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-inverse {
  background-color: rgba(0,0,0,.7) !important;
}

/*-----------------------------------------
Home
-----------------------------------------*/
#home {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg_grid.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#title {
  padding-top: 20%;
}

/*-----------------------------------------
About
-----------------------------------------*/
#about {
  width: 100vw;
  background-color: rgba(255,255,255,1);
}

#aboutHeader {
  padding-top: 100px;
}

/*-----------------------------------------
Sponsor
-----------------------------------------*/
#sponsor {
  width: 100vw;
  background-color: rgba(228,235,237,1);
}

#sponsorHeader {
  padding-top: 100px;
}

#sponsorContainer {
  width: 75%;
  margin: 0 auto;
}

.packages {
  text-align: left;
}

/*-----------------------------------------
Community
-----------------------------------------*/
#community {
  width: 100vw;
  background-color: rgba(255,255,255,1);
}

#communityContainer {
  width: 75%;
  margin: 0 auto;
}

/*-----------------------------------------
Press
-----------------------------------------*/
#press {
  width: 100vw;
  height: 100vh;
  background-color: rgba(232,232,232,1);
}

/*-----------------------------------------
Contact
-----------------------------------------*/
#contact {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,1);
}

/*-----------------------------------------
Footer
-----------------------------------------*/
footer {
  background-color: gray;
}