/*-----------------------------------------
Body
-----------------------------------------*/
html, body {
  text-align: center;
}

/*-----------------------------------------
Nav
-----------------------------------------*/
#nav {
  position: fixed;
  top: 0;
  width: 100%;
}

/*-----------------------------------------
Home
-----------------------------------------*/
#home {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg_grid.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#title {
  padding-top: 20%;
}

/*-----------------------------------------
About
-----------------------------------------*/
#about {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

/*-----------------------------------------
Sponsor
-----------------------------------------*/
#sponsor {
  width: 100vw;
  height: 100vh;
  background-color: orange;
}

/*-----------------------------------------
Press
-----------------------------------------*/
#press {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}

/*-----------------------------------------
Contact
-----------------------------------------*/
#contact {
  width: 100vw;
  height: 100vh;
  background-color: green;
}

/*-----------------------------------------
Footer
-----------------------------------------*/
footer {
  background-color: gray;
}