/*-----------------------------------------
Breakpoint 1
-----------------------------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Activate for Testing ----------- */
/*  .navbar-inverse {
    background-color: red !important;
  }*/

}

/*-----------------------------------------
Breakpoint 2
-----------------------------------------*/
@media only screen and (min-device-width : 320px) and (max-width : 480px) {
 /* Activate for Testing ----------- */
/*  .navbar-inverse {
    background-color: orange !important;
  }*/

/* Homepage ----------- */
  #homepageLogo img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

/* Sponsor ----------- */

  .sponsorBtn {
  width: 200px;
  height: 75px;
  }

/* Community Section ----------- */
  #community {
  width: 100vw;
  height: 1400px;
  overflow: hidden;
  position: relative;
  background: url(../img/OCVR_genphoto1.jpeg) no-repeat fixed;
  background-size: cover;
  }

  .overlay {
  width: 100vw;
  height: 1400px;
  background-image: url(../img/overlay-pattern.png);
  background-repeat: repeat;
  padding: 20px;
  padding-top: 10%;
  }

  #communityContainer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  }

/* Contact Section ----------- */
  #contactPhoto {
  width: 280px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  }

}

/*-----------------------------------------
Breakpoint 3
-----------------------------------------*/
@media only screen and (min-width : 481px) and (max-width: 991px) {
/* Activate for Testing ----------- */  
/*  .navbar-inverse {
    background-color: yellow !important;
  }*/

/* Community Section ----------- */
  #community {
  width: 100vw;
  height: 700px;
  overflow: hidden;
  position: relative;
  background: url(../img/OCVR_genphoto1.jpeg) no-repeat fixed;
  background-size: cover;
  }

  .overlay {
  width: 100vw;
  height: 700px;
  background-image: url(../img/overlay-pattern.png);
  background-repeat: repeat;
  }

  #communityContainer {
  width: 100%;
  margin: 0 auto;
  }

  /* Sponsor Section ----------- */
  .panel.panel-default {
  min-height: 1px;
  }

/* Contact Section ----------- */
  #contactPhoto {
  width: 400px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  }

}

/*-----------------------------------------
Breakpoint 4
-----------------------------------------*/
@media only screen and (min-width : 992px) and (max-width: 1024px) {
/* Activate for Testing ----------- */
/*  .navbar-inverse {
    background-color: green !important;
  }*/

/* Sponsor Section ----------- */
  .panel.panel-default {
  min-height: 700px;
  }

  #community {
  width: 100vw;
  height: 900px;
  overflow: hidden;
  position: relative;
  background: url(../img/OCVR_genphoto1.jpeg) no-repeat fixed;
  background-size: cover;
  }

  .overlay {
  width: 100vw;
  height: 900px;
  background-image: url(../img/overlay-pattern.png);
  background-repeat: repeat;
  padding-top: 10%;
  }

}

/*-----------------------------------------
Breakpoint 5
-----------------------------------------*/
@media only screen and (min-width : 1025px) and (max-width: 1223px) {
/* Activate for Testing ----------- */
/*  .navbar-inverse {
    background-color: blue !important;
  }*/

/* Sponsor Section ----------- */
  .panel.panel-default {
  min-height: 700px;
  }

}

/*-----------------------------------------
Desktops and laptops
-----------------------------------------*/
@media only screen and (min-width : 1224px) {
/* Activate for Testing ----------- */  
/*  .navbar-inverse {
    background-color: magenta !important;
  }*/

}
