/*-----------------------------------------
Breakpoint 1
-----------------------------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navbar-inverse {
    background-color: red !important;
    border: none !important;
  }

}

/*-----------------------------------------
Breakpoint 2
-----------------------------------------*/
@media only screen and (min-device-width : 320px) and (max-width : 480px) {
  .navbar-inverse {
    background-color: orange !important;
    border: none !important;
  }

/* Sponsor ----------- */

  #sponsorContainer {
    width: 100%;
  }

  .sponsorBtn {
  width: 200px;
  height: 75px;
  }

/* Community Section ----------- */
  #community {
  width: 100vw;
  height: 900px;
  overflow: hidden;
  position: relative;
  background: url(../img/OCVR_genphoto1.jpeg) no-repeat fixed;
  background-size: cover;
  }

  .overlay {
  width: 100vw;
  height: 900px;
  background-image: url(../img/overlay-pattern.png);
  background-repeat: repeat;
  padding-top: 10%;
  }

  #communityContainer {
  position: absolute;
  left: 0;
  right: 0;
  width: 85%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.6);
  padding: 15px;
  }

}

/*-----------------------------------------
Breakpoint 3
-----------------------------------------*/
@media only screen and (min-width : 481px) and (max-width: 767px) {
  .navbar-inverse {
    background-color: yellow !important;
    border: none !important;
  }

}

/*-----------------------------------------
Breakpoint 4
-----------------------------------------*/
@media only screen and (min-width : 768px) and (max-width: 1024px) {
  .navbar-inverse {
    background-color: green !important;
    border: none !important;
  }

/* Sponsor Section ----------- */
  .panel.panel-default {
  min-height: 1px;
  }
}

/*-----------------------------------------
Breakpoint 5
-----------------------------------------*/
@media only screen and (min-width : 1025px) and (max-width: 1223px) {
  .navbar-inverse {
    background-color: blue !important;
    border: none !important;
  }

/* Sponsor Section ----------- */
  .panel.panel-default {
  min-height: 600px;
  }

}

/*-----------------------------------------
Desktops and laptops
-----------------------------------------*/
@media only screen and (min-width : 1224px) {
  .navbar-inverse {
    background-color: magenta !important;
    border: none !important;
  }

}
