/*-----------------------------------------
Body
-----------------------------------------*/
html, body {
  text-align: center;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  padding-top: 100px;
  margin-top: 0px !important;
  color: rgb(109,109,109) !important;
  font-weight: 600;
}

h2 {
  color: rgb(242, 103, 57);
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

div {
  margin-bottom: 0px;
}

p {
  text-align: left;
  font-size: 16pt;
}

li {
  font-size: 14pt;
}

/*-----------------------------------------
Nav
-----------------------------------------*/
#nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}

.navbar-inverse {
  background-color: rgba(0,0,0,.85) !important;
  border: none !important;
}

.navbar-brand img {
  height: 50px;
  width: auto;
  padding-bottom: 20px !important;
}

.glyphicon.glyphicon.glyphicon-align-justify {
  color: white;
}

.navbar-inverse .navbar-nav>li {
  font-size: 10pt;
}

/*-----------------------------------------
Home
-----------------------------------------*/
#home {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(../img/bg_grid.jpeg) no-repeat fixed;
  background-size: cover;
  padding-top: 100px;
}

h4.glyphicon.glyphicon-chevron-down {
  color: rgb(109,109,109);
  font-size: 5em;
  cursor: pointer;
}

#homepageLogo img {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

/*-----------------------------------------
About
-----------------------------------------*/
#about {
  width: 100vw;
  height: auto;
  position: relative;
  background: rgba(255,255,255,1) no-repeat fixed;
  /*padding-bottom: 20px;*/
}

.video { 
  position: relative; 
  padding-bottom: 56.25%; /* 16:9 */ 
  height: 0; 
}
.video img { 
  position: absolute; 
  display: block; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: 20; 
  cursor: pointer; 
}
.video:after { 
  content: "";
  position: absolute;
  display: block;
  background: url(../img/white-player-icon.svg) no-repeat 0 0;
  background-size: contain;
  top: 33%;
  left: 41%;
  width: 17%;
  height: 245px;
  z-index: 25;
  /*cursor: pointer;*/
} 
.video iframe { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
 
/* image poster clicked, player class added using js */
.video.player img { display: none; }
.video.player:after { display: none; }

#aboutContainer {
  width: 50%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 45px;
}

/*-----------------------------------------
Sponsor
-----------------------------------------*/
#meetupImgsRow {
  width: 60%;
  margin: 0 auto;
}

.meetupImg {
  height: 300px;
  width: auto;
  border-radius: 50%;
}

#sponsor {
  width: 100vw;
  position: relative;
  background: rgba(228,235,237,1) no-repeat fixed;
  padding-bottom: 100px;
  /*padding-top: 100px;*/
}

#sponsorHeader {
  padding-top: 100px;
}

#sponsorContainer {
  width: 80%;
  height: auto;
  background-color: rgba(228,235,237,1);
  margin: 0 auto;
}

.packages {
  text-align: left;
}

.panel {
  background-color: rgb(60, 69, 68);
  border: none;
  color: rgb(160, 169, 168);
}

.panel.panel-default {
  min-height: 575px;
}

.panel-default>.panel-heading {
  background-color: rgb(30, 34, 34);
  color: rgb(160, 169, 168);
  border: none;
}

.sponsorLevelIcon {
  width: 75px;
  height: auto;
}

.sponsorImg {
  height: 200px;
  width: auto;
}

.sponsorIcons {
  height: 150px;
  width: auto;
}

.sponsorBtn {
  margin-top: 100px;
  width: 300px;
  height: 100px;
  background-color: #f9a768 !important;
  border: none !important;
  border-bottom: 5px solid #f16639 !important;
  border-right: 5px solid #f16639 !important;
  font-size: 18pt !important;
  box-shadow: 5px 5px 5px gray;
}

.sponsorBtn:hover {
  background-color: #fbc98a !important;
  border-bottom: 5px solid #f3885b !important;
  border-right: 5px solid #f3885b !important;
}

/*-----------------------------------------
Community
-----------------------------------------*/
#community {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: url(../img/OCVR_genphoto1.jpeg) no-repeat fixed;
  background-size: cover;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/overlay-pattern.png);
  background-repeat: repeat;
  padding-bottom: 10%;
  padding-top: 10%;
}

#communityContainer {
  position: absolute;
  left: 0;
  right: 0;
  width: 75%;
  margin: 0 auto;
  padding: 50px;
  color: white;
}

#reachContainer {
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

/*-----------------------------------------
Press
-----------------------------------------*/
#press {
  width: 100vw;
  height: auto;
  background-color: rgba(232,232,232,1);
  padding-bottom: 100px;
}

#pressContainer {
  width: 60%;
  margin: 0 auto;
}

.pressLogos {
  padding-top: 40px;
  width: 80%;
  height: auto;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.pressLogos:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

/*-----------------------------------------
Contact
-----------------------------------------*/
#contact {
  width: 100vw;
  height: auto;
  background-color: rgba(255,255,255,1);
}

#contactHeader {
  padding-top: 50px;
}

.contactText {
  text-align: justify;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#contactPhoto {
  width: 800px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

form {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}

label {
  text-align: left;
}

.btn.btn-default.contactBtn {
  background-color: #f9a768 !important;
}

.btn.btn-default.contactBtn:hover {
  background-color: #fbc98a !important;
}

/*-----------------------------------------
Footer
-----------------------------------------*/
footer {
  background-color: rgba(30,34,34,1);
  padding: 20px;
  color: rgb(57, 66, 65)
}

footer p {
  margin-bottom: 0px;
  text-align: center;
  font-size: 10pt;
}